<app-navbar></app-navbar>
<div class="content-area">
  <div *ngIf="successMessage" class="success-message">
    <img src="../assets/tick.png" alt="">
    <p>Success!</p>
    <span>{{ successMessage }}</span>
    <button>continue</button>
  </div> 
</div>
<div class="main">
  <div class="main">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Sign in form</h2>

      <input type="email" formControlName="email" placeholder="Enter your Email.....">
      <div class="valid-container" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small class="validateError" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</small>
        <small class="validateError" *ngIf="loginForm.get('email')?.errors?.['email']">Enter a valid email</small>
      </div>

      <input type="password" formControlName="password" placeholder="Enter your password.....">
      <div class="valid-container" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small class="validateError" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
        <small class="validateError" *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</small>
      </div>

      <span routerLink="/resetpassword">Forgot password</span>
      <input type="submit" value="Sign In" [disabled]="loginForm.invalid">
      <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </form>
   
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
</div>
