<div class="main">
    <div class="sidebar">
        <div (click)="showDashboard()" class="container1 dashboard">
            <img src="../assets/home.png" alt="">
            <p>Dashboard</p>
        </div>
        <div (click)="showHistory()" class="container1 users">
            <img src="../assets/history.png" alt="">
            <p>History</p>
        </div>
        <div (click)="showProfile()" class="container1 profile">
            <img src="../assets/user.png" alt="">
            <p>Profile</p>
        </div>
        <div (click)="exit()" class="container1 exit">
            <img src="../assets/exit.png" alt="">
            <p>exit</p>
        </div>
    </div>
    <div class="content">
        <div class="topbar">
            <h2>welcome User</h2>
            <img [src]="profileImage" alt="Profile Image">
        
        </div>
        <div class="mainarea">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
