<app-navbar></app-navbar>
<div class="main">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <h2>Reset Password</h2>
  
      <input type="email" formControlName="email" placeholder="Enter your Email.....">
      <div class="valid-container" *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched">
        <small class="validateError" *ngIf="forgotForm.get('email')?.errors?.['required']">Email is required</small>
        <small class="validateError" *ngIf="forgotForm.get('email')?.errors?.['email']">Enter a valid email</small>
      </div>
  
      <input type="password" formControlName="password" placeholder="Enter your password.....">
      <div class="valid-container" *ngIf="forgotForm.get('password')?.invalid && forgotForm.get('password')?.touched">
        <small class="validateError" *ngIf="forgotForm.get('password')?.errors?.['required']">Password is required</small>
        <small class="validateError" *ngIf="forgotForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</small>
      </div>
  
      <input type="password" formControlName="confirmPassword" placeholder="Confirm your password.....">
      <div class="valid-container" *ngIf="forgotForm.get('confirmPassword')?.invalid && forgotForm.get('confirmPassword')?.touched">
        <small class="validateError" *ngIf="forgotForm.get('confirmPassword')?.errors?.['required']">Confirmation Password is required</small>
        <small class="validateError" *ngIf="forgotForm.get('confirmPassword')?.errors?.['minlength']">Password must be at least 6 characters long</small><br>
        <small class="validateError" *ngIf="forgotForm.errors?.['mismatch']">Passwords do not match</small>
      </div>
  
      <input type="submit" value="Reset" [disabled]="forgotForm.invalid">
    </form>
  </div>
  
